:root {
    --mainColor: #501e50ff;
    --secondaryColor: #613861;
    --fontColor: #fdfdfd8a;
    --activeColor: #fdfdfd8a;
    --markUpColor: #49bacd;
    --headerH: 50px;
    --sideW: 60px;
    --menuW: 300px;
}

* {
    margin: 0 !important
}