:root {
    --mainColor: #501e50ff;
    --secondaryColor: #613861;
    --fontColor: #fdfdfd8a;
    --activeColor: #fdfdfd8a;
    --headerH: 50px;
    --sideW: 72px;
    --menuW: 360px;
}

* {
    margin: 0 !important
}